{
	"presets": [
		[
			"@babel/preset-env",
			{
				"targets": {
					"node": "v14.17.0"
				}
			}
		]
	],
	"plugins": [
		[
			"module-resolver",
			{
				"alias": {
					"$src": ["./src"],
					"$utils": ["./src/utils"],
					"$common": ["./src/common"],
					"$routes": ["./src/routes"],
					"$modules": ["./src/modules"],
					"$swaggers": ["./src/swaggers"],
					"$resources": ["./src/resources"],
					"$middlewares": ["./src/middlewares"]
				}
			}
		],
		[
			"@babel/plugin-transform-runtime",
			{
				"regenerator": true
			}
		]
	]
}
